*{
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.Leccionlink{
    text-decoration: none;
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    border-radius: 10px 0 10px 0;
}
.Leccionlink:hover{
        background-color: #8acdf7;
        color:#f72585;
        border-color: #f72585;
    }
h1{
    padding: 10px;
    margin: 20px 10px;
}
footer{
    clear: both;
    padding: 50px;
    text-align: center;
}
footer a{
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    color:deeppink;
    border-color: darkviolet;
}
legend{
    font-size: 20px;
    font-weight: bold;
    color: rgb(93, 0, 133);
}
.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: white;
    color: #007BFF;
}
#ListaCursoHTML{
    float: left;
    margin-left: 200px;
}
#ListaCursoCSS{
    float: right;
    margin-right: 200px;
}
