fieldset.Leccionlink a{
    text-decoration: none;
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    border-radius: 10px 0 10px 0;
}
fieldset.Leccionlink a:hover{
    background-color: #8acdf7;
    color:#f72585;
    border-color: #f72585;
}
h1{
    margin: 40px auto;
    text-align: center;
    color: rgb(149, 27, 165);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(255, 86, 255);
    letter-spacing: 3px;
    word-spacing: 3px;
    text-decoration: underline overline;
    text-underline-offset: 7px;
}
footer{
    clear: both;
    padding-top: 50px;
    text-align: center;
}
footer a{
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    color:deeppink;
    border-color: darkviolet;
}
legend{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(93, 0, 133);
    padding: 10px;
}
.btn{
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover{
    background-color: white;
    color: #007BFF;
}
.centrarfieldset{
    display: flex;
    justify-content: center;
    gap: 40px; /* Espacio entre los fieldsets */
    align-items: center; /* Centra los fieldsets verticalmente */
    padding: 0 20px;
}
fieldset{
    border: double;
    border-radius: 15px;
    text-align: center; 
    box-sizing: border-box;
    width: 47%;
    min-height: 320px;
}

