h1{
    text-align: center;
}
.rojo{
    background-color: firebrick;
    color: white;
}
.rosa{
    border: 5px solid hotpink;
    /*background-color: hotpink;*/
}
.amarillo{
    border: 5px dashed rgb(255, 215, 0);
}
.violeta{
    border: 5px double #8a2be2;
}
.verde{
    border: 5px dotted hsl(120, 100%, 50%);
}
.azul{
    background-color: turquoise;
}
header {
    justify-content: space-between;
    align-items: center;
    color: white;
    display: flex;
    width: 100%;
}
.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: white;
    color: #007BFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



