header {
    justify-content: space-between;
    align-items: center;
    color: white;
    display: flex;
    width: 100%;
}
.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: white;
    color: #007BFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 40px auto 40px;
    text-align: center;
    color: rgb(149, 27, 165);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(255, 86, 255);
    letter-spacing: 3px;
    word-spacing: 3px;
    vertical-align: bottom;
}
h2, div.borde, p{
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
span{
    border: 1px solid blue;
}
a.block{
    display: block;
}
li{
    display: inline;
}
.invisible{
    visibility: hidden;
}