header {
    justify-content: space-between;
    align-items: center;
    color: white;
    display: flex;
    width: 100%;
}
.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: white;
    color: #007BFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 40px auto 40px;
    text-align: center;
    color: rgb(149, 27, 165);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(255, 86, 255);
    letter-spacing: 3px;
    word-spacing: 3px;
    text-decoration: underline overline;
    text-underline-offset: 7px;
}
div.contenedor{
    margin: 100px;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column-reverse;  para hacerlo vertical */
    /* flex-direction: row;  "DEFAULT", se puede revertir con row-reverse */
    flex-flow: row wrap;
    height: 300px;
    align-items: center;
    align-content: center;
    background-color: rgb(94, 0, 80);
    padding: 20px;
    border-radius: 10px;
}
div.contenedor > p{
    background-color: rgb(255, 86, 255);
    color: rgb(94, 0, 80);
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 2px 2px 5px black;
}