header {
    justify-content: space-between;
    align-items: center;
    color: white;
    display: flex;
    width: 100%;
}
.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: white;
    color: #007BFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 40px auto 40px;
    text-align: center;
    color: rgb(149, 27, 165);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(255, 86, 255);
    letter-spacing: 3px;
    word-spacing: 3px;
    text-decoration: underline overline;
    text-underline-offset: 7px;
}
div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
    text-align: center;
}
div.contenedor p::selection{
    background-color: #ffb703;
    color: red;
}
div.contenedor p::first-line{
    font-variant: small-caps;
    color: #e76f51;
}
div.contenedor p::first-letter{
    font-size: 200%;
    color: red;
    font-weight: bold;
}
div.contenedor p::before{
    content: "- ";
}
div.contenedor p::after{
    content: " -";
    color: red;
    /* content: "url(para insertar aquí una imagen u otra cosa);*/
}