header {
    justify-content: space-between;
    align-items: center;
    color: white;
    display: flex;
    width: 100%;
}
.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: white;
    color: #007BFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 40px auto 40px;
    text-align: center;
    color: rgb(149, 27, 165);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(255, 86, 255);
    letter-spacing: 3px;
    word-spacing: 3px;
    text-decoration: underline overline;
    text-underline-offset: 7px;
}
div.contenedor{
    width: 80%;
    height: 20%;
    overflow: auto;
    margin: auto;
    border: 3px dashed #a8dadc;
    text-align: justify;
    padding: 10px;
}
span{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    background-color: #a8dadc;
    border: 1px solid #457b9d;
    height: 50px;
    padding: 5px;
    display: inline-block;
}
.menu{
    list-style-type: none;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    background-color: paleturquoise;
}
li a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    font-size: 20px;
}