ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}
ol li:nth-child(even){
    color:chocolate
}
ol li:nth-child(odd){
    color:darkgreen
}
ol li::before{
    content: 'Curso ' counter(contador) ': ';
    color:blueviolet;
}
ol li::after{
    content: '.';
}