.titulo{
    color: #f72585;
    text-align: center;
    margin:15px;
}
.iframesbutton{
    text-decoration:none;
    padding: 15px 25px;
    margin: 15px 15px;
    color: #9619b5;
    border: 5px solid #9619b5;
    text-align: center;
    display: inline-block;
}
.iframesbutton:hover{
    color: #cc00ff;
    border-color: #cc00ff;
}
h2{
    color: #3f37c9;
}
p{
    color: #457b9d;
}
/*Clase de CSS*/
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 10px 300px;
    padding:30px;
}
.titulo2{
    color: #f72585;
}
/*Identificador CSS*/
#titulo_principal{
    color:red;
    text-align: center;
    margin:30px;
    text-decoration:underline;
}
.boton{
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px 0px 0px 10px;
}
header {
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;
    display: flex;
    width: 100%;
}
.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.btn:hover {
    background-color: white;
    color: #007BFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}